{% extends 'request/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelNG</title>
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-dark" style="background-color: #e28743;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">TravelNG</span>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <br>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout="vertical" %}
                    {% buttons %}
                        <div class="d-grid mx-auto">
                            <button type="submit" class="btn" style="background-color: #e28743;">
                                Login
                            </button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>