{% extends 'travel/base.html' %}
{% load bootstrap5 bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TravelNG</title>
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-dark" style="background-color: #e28743;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{% md_icon 'earth' %}TravelNG</span>
            <a class="nav-link text-white" href="/admin">{% bs_icon 'person' %}Admin Interface</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-grid col-5 mx-auto mt-5">
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body mb-3">
                    <h5 class="card-title">Anmeldung</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Reisemanagement</h6>
                    <div class="row">
                        <div class="col">
                            <br>
                            <br>
                            <form method="post">
                                {% csrf_token %}
                                {% bootstrap_form form layout="horizontal" %}
                                {% buttons %}
                                    <div class="d-grid mx-auto mt-5">
                                        <button type="submit" class="btn" style="background-color: #e28743;">
                                            Login
                                        </button>
                                    </div>
                                {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
