{% load bootstrap5 bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% bootstrap_messages %}
</head>
<body>
{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #e28743;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TravelNG</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% bs_icon 'house' %}Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       href="{% url 'newTravelRequest' %}">{% bs_icon 'airplane' %}Reiseantrag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"
                       href="{% url 'newInvoice' %}">{% bs_icon 'bank' %}Reisekostenabrechnung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'logout' %}">{% bs_icon 'door-closed' %}Logout</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block title %}
    {#    Page title#}
{% endblock %}

{% block content %}
    {#    Content block#}
{% endblock %}
</body>
{% block footer %}
    <div class="text-center text-white fixed-bottom" style="background-color: #e28743;">{% bs_icon 'c-circle' %}Andreas
        Lehmann 2022
    </div>
{% endblock %}
</html>