{% load bootstrap5 bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="bg-image" style="background-image: url('{% static 'travel-g774051fb3_1920.jpg' %}');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        "
>
    {% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #e28743;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{% md_icon 'earth' %}TravelNG</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'home' %}">{% bs_icon 'house' %}Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'addTravelRequest' %}">{% bs_icon 'airplane' %}Reiseantrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{% url 'addTravelInvoice' %}">{% bs_icon 'bank' %}Reisekostenantrag</a>
                    </li>
                    {% if perms.request.change_travelrequeststatus %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'travelAuth' %}">{% bs_icon 'bag-check' %}Reisegenehmigung</a>
                        </li>
                    {% endif %}
                    {% if perms.request.change_travelinvoicestatus %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'travelInvoice' %}">{% bs_icon 'cash-coin' %}Reiseabrechnung</a>
                        </li>
                    {% endif %}
                </ul>
                <a class="nav-link text-white" href="{% url 'logout' %}">{% bs_icon 'person' %}{{ user.username }}</a>
            </div>
        </nav>
    {% endblock %}
    {% block title %}
        {#    Page title#}
    {% endblock %}

    {% block content %}
        {#    Content block#}
    {% endblock %}
</div>
</body>
{% block footer %}
    <div class="text-center text-white fixed-bottom" style="background-color: #e28743;">{% bs_icon 'c-circle' %}Andreas
        Lehmann 2022
    </div>
{% endblock %}
</html>
